<!-- Footer -->
<footer class="footer" role="contentinfo">
	<div class="container">
		<div class="footer__main">
			<!-- Column 1: Logo & Description -->
			<div class="footer__col footer__col--logo">
				<img src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-20/35JgF8F1Hi.png" alt="Logo HUB University" class="footer__logo" width="300" height="auto" />
				<p class="footer__description">Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục vụ cho in ấn.</p>
				<hr class="footer__divider-small" />
				<img src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-20/oscZa7UDB0.png" alt="Chứng nhận" class="footer__cert" width="195" height="auto" />
			</div>

			<!-- Column 2: Contact -->
			<div class="footer__col footer__col--contact">
				<h4 class="footer__heading">LIÊN HỆ</h4>
				<ul class="footer__list">
					<li class="footer__list-item">
						<img src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-20/FR4k8gHsGC.png" alt="" width="14" height="14" />
						<span><strong>Trụ sở chính:</strong><br />36 Tôn Thất Đạm, Q.1, Tp.HCM</span>
					</li>
					<li class="footer__list-item">
						<img src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-20/1KsBv2M6CV.png" alt="" width="14" height="14" />
						<span><strong>Cơ sở Hàm Nghi:</strong><br />39 Hàm Nghi, Q.1, Tp.HCM</span>
					</li>
					<li class="footer__list-item">
						<img src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-20/yPdc63OhuF.png" alt="" width="14" height="14" />
						<span><strong>Cơ sở Hoàng Diệu:</strong><br />56 Hoàng Diệu II, Q.Thủ Đức, Tp.HCM</span>
					</li>
					<li class="footer__list-item">
						<img src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-20/2DeVG8UuGN.png" alt="" width="14" height="14" />
						<span><strong>Email:</strong><br />dhnhtphcm@hub.edu.vn</span>
					</li>
					<li class="footer__list-item">
						<img src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-20/xW42Kd1bc1.png" alt="" width="14" height="14" />
						<span><strong>Hotline tuyển sinh:</strong><br />0888353488</span>
					</li>
				</ul>
			</div>

			<!-- Column 3: Admissions -->
			<div class="footer__col footer__col--admissions">
				<h4 class="footer__heading">TUYỂN SINH</h4>
				<nav aria-label="Menu tuyển sinh">
					<ul class="footer__links">
						<li><a href="#" class="footer__link">Đại học chính quy</a></li>
						<li><a href="#" class="footer__link">Đại học chính quy chuẩn</a></li>
						<li><a href="#" class="footer__link">Thạc sĩ</a></li>
						<li><a href="#" class="footer__link">Tiến Sĩ</a></li>
						<li><a href="#" class="footer__link">Hệ đào tạo liên kết quốc tế</a></li>
						<li><a href="#" class="footer__link">Liên hệ khoa sau đại học</a></li>
						<li><a href="#" class="footer__link">Đại học bằng 2 VLHL</a></li>
						<li><a href="#" class="footer__link">Đại học chính quy quốc tế cấp song bằng</a></li>
					</ul>
				</nav>
			</div>

			<!-- Column 4: Student Life -->
			<div class="footer__col footer__col--student">
				<h4 class="footer__heading">ĐỜI SỐNG SINH VIÊN</h4>
				<nav aria-label="Menu đời sống sinh viên">
					<ul class="footer__links">
						<li><a href="#" class="footer__link">Học bổng cho sinh viên</a></li>
						<li><a href="#" class="footer__link">Câu lạc bộ sinh viên</a></li>
						<li><a href="#" class="footer__link">Thư viện học tập</a></li>
						<li><a href="#" class="footer__link">Ký túc xá</a></li>
					</ul>
				</nav>
			</div>
		</div>

		<!-- Bottom Section -->
		<hr class="footer__divider" />
		<div class="footer__copyright">
			<p>© <strong>Hub University</strong>. Designed by Han Thuyen</p>
		</div>
	</div>
</footer>
