<!-- Footer -->
<footer class="footer" role="contentinfo">
	<div class="container">
		<div class="footer__main">
			<!-- Column 1: Logo -->
			<div class="footer__col footer__col--logo">
				<div class="footer__logo-wrapper">
					<img
						src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-20/ET5DYXaxgM.png"
						alt="Logo HUB University"
						class="footer__logo-img"
						width="60"
						height="auto"
					/>
					<div class="footer__logo-text">
						<span class="footer__logo-line1"
							>TRƯỜNG ĐẠI HỌC NGÂN HÀNG</span
						>
						<span class="footer__logo-line2"
							>THÀNH PHỐ HỒ CHÍ MINH</span
						>
					</div>
				</div>
			</div>

			<!-- Column 2: Contact -->
			<div class="footer__col footer__col--contact">
				<h4 class="footer__heading">LIÊN HỆ</h4>
				<ul class="footer__list">
					<li class="footer__list-item">
						<img
							src="assets/svg/map.svg"
							alt=""
							width="14"
							height="14"
						/>
						<span
							><strong>Trụ sở chính</strong><br />36 Tôn Thất Đạm,
							q1, Tp.HCM</span
						>
					</li>
					<li class="footer__list-item">
						<img
							src="assets/svg/map.svg"
							alt=""
							width="14"
							height="14"
						/>
						<span
							><strong>Cơ sở Hàm Nghi</strong><br />39 Hàm Nghi,
							Quận 1, Tp.Hồ Chí Minh</span
						>
					</li>
					<li class="footer__list-item">
						<img
							src="assets/svg/map.svg"
							alt=""
							width="14"
							height="14"
						/>
						<span
							><strong>Cơ sở Hoàng Diệu</strong><br />56 Hoàng
							Diệu, Quận 11, Tp.Hồ Chí Minh</span
						>
					</li>
					<li class="footer__list-item">
						<img
							src="assets/svg/phone.svg"
							alt=""
							width="14"
							height="14"
						/>
						<span>0888 353 488</span>
					</li>
					<li class="footer__list-item">
						<img
							src="assets/svg/mail.svg"
							alt=""
							width="14"
							height="14"
						/>
						<span>dhnhtphcm@hub.edu.vn</span>
					</li>
				</ul>
			</div>

			<!-- Column 3: Admissions -->
			<div class="footer__col footer__col--admissions">
				<h4 class="footer__heading">TUYỂN SINH</h4>
				<nav aria-label="Menu tuyển sinh">
					<ul class="footer__links">
						<li>
							<a href="#" class="footer__link"
								>Đại học chính quy</a
							>
						</li>
						<li>
							<a href="#" class="footer__link"
								>Đại học chính quy chuẩn</a
							>
						</li>
						<li><a href="#" class="footer__link">Thạc sĩ</a></li>
						<li><a href="#" class="footer__link">Tiến sĩ</a></li>
						<li>
							<a href="#" class="footer__link"
								>Hệ đào tạo quốc tế</a
							>
						</li>
						<li>
							<a href="#" class="footer__link"
								>Liên hệ khoa sau đại học</a
							>
						</li>
						<li>
							<a href="#" class="footer__link"
								>Đại học bằng 2 VLHL</a
							>
						</li>
						<li>
							<a href="#" class="footer__link"
								>Đại học chính quy quốc tế cấp song bằng</a
							>
						</li>
					</ul>
				</nav>
			</div>

			<!-- Column 4: Student Life -->
			<div class="footer__col footer__col--student">
				<h4 class="footer__heading">ĐỜI SỐNG SINH VIÊN</h4>
				<nav aria-label="Menu đời sống sinh viên">
					<ul class="footer__links">
						<li>
							<a href="#" class="footer__link"
								>Học bổng cho sinh viên</a
							>
						</li>
						<li>
							<a href="#" class="footer__link"
								>Câu lạc bộ sinh viên</a
							>
						</li>
						<li>
							<a href="#" class="footer__link"
								>Thư viện học tập</a
							>
						</li>
						<li><a href="#" class="footer__link">Ký túc xá</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<!-- Bottom Section: Connect Bar (full width) -->
	<div class="footer__bottom">
		<div class="footer__connect-bar">
			<span class="footer__connect-text">Kết nối với chúng tôi</span>
			<div class="footer__social">
				<a href="#" class="footer__social-link" aria-label="Facebook">
					<img
						src="assets/svg/facebook.svg"
						alt=""
						width="18"
						height="18"
					/>
				</a>
				<a href="#" class="footer__social-link" aria-label="YouTube">
					<img
						src="assets/svg/youtube.svg"
						alt=""
						width="18"
						height="18"
					/>
				</a>
				<a href="#" class="footer__social-link" aria-label="TikTok">
					<img
						src="assets/svg/tiktok.svg"
						alt=""
						width="18"
						height="18"
					/>
				</a>
				<a href="#" class="footer__social-link" aria-label="Email">
					<img
						src="assets/svg/mail.svg"
						alt=""
						width="18"
						height="18"
					/>
				</a>
				<a href="#" class="footer__social-link" aria-label="Zalo">
					<img
						src="assets/svg/zalo.svg"
						alt=""
						width="18"
						height="18"
					/>
				</a>
			</div>
		</div>
	</div>
</footer>
