<!-- Top Bar -->
<div class="topbar">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="topbar__contact">
					<span class="topbar__contact-icon">
						<img src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-20/3ndBgXaONo.png" alt="Biểu tượng điện thoại" width="20" height="20" />
					</span>
					<span class="topbar__contact-text">Hotline: (028) 38 212 430 - (028) 38 211 704 - 0888 353 488</span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="topbar__actions">
					<span class="topbar__contact-icon">
						<img src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-20/Eu1HNzG4ZH.png" alt="Biểu tượng email" width="23" height="23" />
					</span>
					<span class="topbar__contact-text">Email: phongtvts@hub.edu.vn</span>
					<div class="topbar__search">
						<input type="search" placeholder="Tìm kiếm..." class="topbar__search-input" aria-label="Tìm kiếm" />
						<img src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-20/xEzDJf4qr6.png" alt="" width="16" height="16" />
					</div>
					<a href="#registration" class="topbar__register-btn" aria-label="Đăng ký tuyển sinh">ĐĂNG KÝ</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg" role="navigation" aria-label="Menu chính">
	<div class="container">
		<a class="navbar-brand" href="/" aria-label="Trang chủ HUB University">
			<img src="https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-20/ET5DYXaxgM.png" alt="Logo Trường Đại học Ngân hàng TP.HCM - HUB University" class="navbar__logo" width="50" height="72" />
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link" href="/" aria-current="page">Trang Chủ</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#about">Lý Do Chọn HUB</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#programs">Chương Trình Đào Tạo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#career">Hướng Nghiệp & Phát Triển</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#news">Tin Tức Tuyển Sinh</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#announcements">Thông Báo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#virtual-tour">HUB virtual tour</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
