/* ============================================
   COMPONENT: Training Orientation
   For displaying training program details
   ============================================ */

.training-orientation {
	padding: var(--sp-7) 0 0;
	background-color: var(--brand-primary);
	position: relative;
}

.training-orientation__content {
	color: var(--color-light);
}

.training-orientation__title {
	font-family: var(--font-primary);
	font-size: 30px;
	font-weight: 700;
	line-height: 36.57px;
	color: var(--color-light);
	text-transform: capitalize;
	margin-bottom: var(--sp-4);
}

.training-orientation__section {
	margin-bottom: var(--sp-5);
}

.training-orientation__subtitle {
	font-family: var(--font-primary);
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	color: var(--color-light);
	text-transform: capitalize;
	margin-bottom: var(--sp-3);
}

.training-orientation__text {
	font-family: var(--font-primary);
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: var(--color-light);
	margin: 0;
}

.training-orientation__list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.training-orientation__list--ordered {
	list-style: none;
	padding-left: 0;
	counter-reset: item;
}

.training-orientation__item {
	font-family: var(--font-primary);
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: var(--color-light);
	margin-bottom: var(--sp-4);
	padding-left: 0;
	counter-increment: item;
}

.training-orientation__item .training-orientation__subtitle {
	position: relative;
	padding-left: 25px;
	margin-top: 0;
	margin-bottom: var(--sp-2);
}

.training-orientation__item .training-orientation__subtitle::before {
	content: counter(item) ".";
	position: absolute;
	left: 0;
	font-family: var(--font-primary);
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	color: var(--color-light);
}

.training-orientation__sublist {
	list-style: none;
	padding: 0;
	margin: var(--sp-2) 0 0 0;
}

.training-orientation__sublist li {
	position: relative;
	padding-left: 24px;
	font-family: var(--font-primary);
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: var(--color-light);
	margin-bottom: var(--sp-2);
}

.training-orientation__sublist li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 7px;
	width: 15px;
	height: 15px;
	background-image: url("../../assets/images/achievement.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.training-orientation__sublist li strong {
	font-weight: 700;
}

.training-orientation__image-wrapper {
	position: relative;
	padding: var(--sp-6) 0;
}

.training-orientation__image {
	width: 100%;
	height: auto;
	border-radius: 20px;
	max-width: 550px;
	margin: 0 auto;
	display: block;
}

/* ============================================
   RESPONSIVE
   TODO: Add tablet and mobile styles later with separate design
   ============================================ */
